*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

body {
  background-color: #ffffff;
  color: #757575;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  -webkit-padding-start: 0px;
          padding-inline-start: 0px;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  -webkit-margin-after: 1em;
          margin-block-end: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.875;
  font-size: 16px;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
}

.body--scroll-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: hidden;
}

.body--scroll-hidden::-webkit-scrollbar {
  display: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.image--display-block {
  width: 100%;
  height: auto;
  display: block;
}

.header {
  border-bottom: 1px solid #ececec;
  background: #ffffff;
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
  }
}

.header__inner {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

@media screen and (min-width: 767px) {
  .header__inner {
    padding: 0 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 767px) {
  .header__nav {
    -webkit-box-pack: unset;
        -ms-flex-pack: unset;
            justify-content: unset;
  }
}

.header__menu {
  display: none;
}

@media screen and (min-width: 767px) {
  .header__menu {
    margin-left: 88px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1199px) {
  .header__menu {
    margin-left: 93px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.header__logo--black {
  color: #212121;
}

.header__contact {
  margin-left: 305px;
}

@media screen and (min-width: 767px) {
  .header__contact {
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

.menu {
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.menu__item {
  position: relative;
  margin-left: 50px;
}

.menu__mobile.is-open .menu__item {
  margin-left: 0px;
  margin-top: 32px;
}

.menu__mobile.is-open .menu__item:first-child {
  margin-top: 0px;
}

.menu__item:first-child {
  margin-left: 0px;
}

.menu__link {
  padding: 32px 0;
  text-decoration: none;
  color: #212121;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__mobile.is-open .menu__link {
  padding: 16px 0;
}

.menu__mobile.is-open .menu__link::after {
  display: none;
}

.menu__link:hover,
.menu__link :focus {
  color: #2196f3;
}

.menu__link--current {
  color: #2196f3;
}

.menu__link--current::after {
  display: block;
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196f3;
  border-radius: 2px;
  bottom: -33px;
}

.menu__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu__button--close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 10px;
  right: 15px;
}

@media screen and (min-width: 767px) {
  .menu__button, .menu__button--close {
    display: none;
  }
}

.menu__button .menu__icon--close {
  display: none;
}

.menu__button.is-open .menu__icon--close {
  display: block;
}

.menu__button.is-open .menu__icon--open {
  display: none;
}

.menu__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 48px 40px;
  background-color: #ffffff;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .menu__mobile {
    display: none;
  }
}

.menu__mobile.is-open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu__nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mobile-menu__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.mobile-menu__social-item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);
}

.mobile-menu__social-item:first-child {
  padding-left: 0;
  margin-left: -10px;
}

.mobile-menu__social-item:last-child {
  border-right: none;
}

.mobile-menu__social-link {
  padding: 0 10px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #2196f3;
}

.menu__button .menu__icon--close {
  display: none;
}

.menu__button.is-open .menu__icon--close {
  display: block;
}

.menu__button.is-open .menu__icon--open {
  display: none;
}

.contact {
  display: none;
}

@media screen and (min-width: 767px) {
  .contact {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-left: auto;
  }
}

@media screen and (min-width: 1199px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: auto;
    margin-left: auto;
  }
}

.menu__mobile.is-open .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0px;
  margin-top: 60%;
  margin-bottom: 48px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 1199px) {
  .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
}

.contact__item {
  margin-left: 0px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;
}

@media screen and (min-width: 1199px) {
  .contact__item {
    margin-left: 30px;
  }
}

@media screen and (max-width: 767px) {
  .contact__item:last-child {
    margin-top: 10px;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
  }
}

@media screen and (max-width: 767px) {
  .contact__item {
    font-size: 32px;
  }
}

.contact__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
  text-decoration: none;
  color: #757575;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 767px) {
  .contact__link {
    padding: 5px;
  }
}

@media screen and (min-width: 1199px) {
  .contact__link {
    padding: 0;
  }
}

.contact__link--phone {
  color: #2196f3;
}

.menu__mobile.is-open .contact__link {
  padding: 16px 0;
}

.contact__link:hover, .contact__link:focus {
  color: #2196f3;
}

.contact__icon {
  display: none;
  margin-right: 10px;
  color: #ffffff;
  fill: #757575;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover .contact__icon {
  fill: #2196f3;
}

.contact__link:focus .contact__icon {
  fill: #2196f3;
}

@media screen and (min-width: 767px) {
  .contact__icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.contact__icon--mail {
  width: 16px;
  height: 12px;
}

.contact__icon--phone {
  width: 10px;
  height: 16px;
}

.hero {
  max-width: 1600px;
  padding: 118px 0;
  background-color: #2f303a;
  text-align: center;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../images/hero_background.jpg);
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero_background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi) {
  .hero {
    background: url(../images/hero_background@1-5x.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background: url(../images/hero_background@2x.jpg);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
  }
}

@media screen and (min-width: 1199px) {
  .hero {
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero__inner {
  max-width: 360px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 1199px) {
  .hero__inner {
    max-width: 696px;
  }
}

.hero__heading {
  display: block;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1199px) {
  .hero__heading {
    font-size: 44px;
    line-height: 1.36;
  }
}

.hero__button {
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  margin-top: 30px;
}

.features {
  padding: 60px 0;
}

@media screen and (min-width: 767px) {
  .features {
    padding: 60px 0;
  }
}

@media screen and (min-width: 1199px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__inner {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.features__heading {
  visibility: hidden;
}

.features__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (min-width: 479px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 100%;
    gap: 30px;
  }
}

.features__card {
  width: 450px;
  margin-bottom: 30px;
}

@media screen and (min-width: 479px) {
  .features__card {
    -webkit-box-flex: calc(50% - 30px);
        -ms-flex: calc(50% - 30px);
            flex: calc(50% - 30px);
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1199px) {
  .features__card {
    -webkit-box-flex: calc(25% - 90px);
        -ms-flex: calc(25% - 90px);
            flex: calc(25% - 90px);
  }
}

.features__card:last-child {
  margin-bottom: 0px;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  text-align: center;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.card__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #f5f4fa;
  height: 120px;
  margin-bottom: 30px;
}

.card__icon {
  width: 70px;
  height: 70px;
  color: #ffffff;
  fill: #afb1b8;
}

.work {
  display: none;
}

@media screen and (min-width: 1199px) {
  .work {
    padding-bottom: 94px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.work__inner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.work__heading {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.work__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 370px;
  margin-right: 30px;
}

.work__item:last-child {
  margin-right: 0px;
}

.work__thumb {
  position: relative;
}

.work__thumb::before {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.work__title {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 82px;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
}

.team {
  background-color: #f5f4fa;
  padding: 60px 0;
}

@media screen and (min-width: 1199px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__inner {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 1199px) {
  .team__inner {
    width: 1200px;
  }
}

.team__heading {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 767px) {
  .team__heading {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 1199px) {
  .team__heading {
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
}

@media screen and (max-width: 767px) {
  .team__list {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 767px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 30px;
  }
}

@media screen and (min-width: 1199px) {
  .team__list {
    margin-top: 50px;
  }
}

.team__card {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin-bottom: 30px;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 767px) {
  .team__card {
    margin-bottom: 0;
    -webkit-box-flex: calc(50% - 30px);
        -ms-flex: calc(50% - 30px);
            flex: calc(50% - 30px);
  }
}

@media screen and (min-width: 1199px) {
  .team__card {
    width: 270px;
    -webkit-box-flex: calc(25% - 90px);
        -ms-flex: calc(25% - 90px);
            flex: calc(25% - 90px);
  }
}

.team__card:last-child {
  margin-bottom: 0px;
}

@media screen and (max-width: 479px) {
  .team__card {
    width: 100%;
  }
}

.card-footer {
  padding: 30px 0 20px 0;
}

@media screen and (min-width: 1199px) {
  .card-footer {
    padding: 30px 0px;
  }
}

.team__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.card-footer__text {
  margin-top: 10px;
  line-height: 1.18;
  text-align: center;
}

.card-footer__socials {
  margin-top: 16px;
}

.social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

.social__item {
  margin-right: 10px;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
}

.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  text-decoration: none;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__link:hover {
  background: #2196f3;
}

.social__link:focus {
  background: #2196f3;
}

.social__icon {
  padding: 12px;
  width: 44px;
  height: 44px;
  color: #ffffff;
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social__icon--white {
  fill: #ffffff;
}

.social__link:hover .social__icon {
  fill: #ffffff;
}

.social__link:focus .social__icon {
  fill: #ffffff;
}

.client {
  -ms-flex-preferred-size: calc(100% / 2);
      flex-basis: calc(100% / 2);
  padding: 60px 0;
}

@media screen and (min-width: 1199px) {
  .client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__inner {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.client__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

@media screen and (min-width: 1199px) {
  .client__title {
    font-size: 36px;
    line-height: 1.16;
    margin-bottom: 0;
  }
}

.client__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 1199px) {
  .client__list {
    margin-top: 50px;
  }
}

.client__member {
  position: relative;
  -webkit-box-flex: calc(50% - 30px);
      -ms-flex: calc(50% - 30px);
          flex: calc(50% - 30px);
  height: 92px;
}

@media screen and (min-width: 767px) {
  .client__member {
    margin: 0;
    -webkit-box-flex: 30%;
        -ms-flex: 30%;
            flex: 30%;
  }
}

@media screen and (min-width: 1199px) {
  .client__member {
    -webkit-box-flex: calc(16.6666666667% - 150px);
        -ms-flex: calc(16.6666666667% - 150px);
            flex: calc(16.6666666667% - 150px);
  }
}

.client__thumb {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: 1px solid #afb1b8;
  border-radius: 4px;
  position: absolute;
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
  -webkit-transition-property: outline-color;
  transition-property: outline-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 1199px) {
  .client__thumb {
    max-width: 170px;
  }
}

.client__link:hover .client__thumb {
  outline-color: #2196f3;
}

.client__link:focus .client__thumb {
  outline-color: #2196f3;
}

.client__icon {
  width: 106px;
  height: 60px;
  color: #2196f3;
  fill: #afb1b8;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client__link:hover .client__icon {
  fill: #2196f3;
}

.client__link:focus .client__icon {
  fill: #2196f3;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
  margin-right: 0;
  text-align: center;
}

.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  text-decoration: none;
}

.footer__logo--white {
  color: #ffffff;
}

.footer__inner {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1199px) {
  .footer__inner {
    padding: 0 15px;
    margin: 0 auto;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}

.footer__wraper {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  margin-bottom: 60px;
}

@media screen and (min-width: 767px) {
  .footer__wraper {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media screen and (min-width: 1199px) {
  .footer__wraper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    margin-bottom: 0;
    margin-right: 70px;
  }
}

.footer__address {
  font-style: normal;
  line-height: 1.71;
  margin-top: 20px;
}

.address__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1199px) {
  .address__list {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.address__item {
  margin-top: 9px;
}

.address__item:first-child {
  margin-top: 0px;
}

.address__map {
  color: #ffffff;
  text-decoration: none;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address__link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social {
  margin-bottom: 60px;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .footer__social {
    -webkit-box-flex: 50%;
        -ms-flex: 50%;
            flex: 50%;
  }
}

@media screen and (min-width: 1199px) {
  .footer__social {
    margin-left: 0px;
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    text-align: start;
  }
}

.footer__social-list {
  margin-top: 20px;
}

.social__heading {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 1199px) {
  .footer__form {
    margin-left: auto;
    max-width: 570px;
  }
}

@media screen and (min-width: 1199px) {
  .footer__form {
    display: block;
  }
}

.footer__heading {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 1199px) {
  .footer__heading {
    text-align: left;
    display: block;
  }
}

.footer-form__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
}

@media screen and (min-width: 767px) {
  .footer-form__item {
    max-width: 450px;
  }
}

@media screen and (min-width: 1199px) {
  .footer-form__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 100%;
  }
}

.footer-form__input {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  height: 50px;
  color: #ffffff;
  background: #2f303a;
  letter-spacing: 0.03em;
  line-height: 1.25;
}

@media screen and (min-width: 479px) {
  .footer-form__input {
    width: 450px;
  }
}

@media screen and (min-width: 1199px) {
  .footer-form__input {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}

.footer-form__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  margin-top: 20px;
  padding: 10px 62px 10px 29px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
}

@media screen and (min-width: 1199px) {
  .footer-form__button {
    margin-left: 12px;
    margin-top: 0;
  }
}

.footer-form__icon {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 13px;
  right: 28px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  -webkit-transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
  padding: 40px;
  width: 100%;
  border-radius: 4px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 479px) {
  .modal {
    width: 450px;
  }
}

@media screen and (min-width: 1199px) {
  .modal {
    height: 581px;
    width: 530px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translate(-50%, -50%) scale(0.5);
          transform: translate(-50%, -50%) scale(0.5);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.modal__button:hover, .modal__button:focus {
  fill: #2196f3;
}

.modal__icon {
  position: absolute;
  width: 18px;
  height: 18px;
  top: 15px;
  right: -4px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.modal__heading {
  text-align: center;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #212121;
}

@media screen and (min-width: 1199px) {
  .modal__heading {
    line-height: 1.17;
  }
}

.modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__wraper {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.form__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 28px;
}

.form__textarea {
  position: relative;
}

.form__label {
  -webkit-transform: translate(-42px, -30px);
          transform: translate(-42px, -30px);
  position: absolute;
  left: 42px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  margin-bottom: 4px;
  margin-top: 10px;
}

.form__label--textarea {
  top: 10px;
}

.form__label:first-child {
  margin-top: 0px;
}

.form__input {
  width: 100%;
  padding: 8px 9px 8px 42px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
}

.form__input:focus-within {
  outline: none;
  border-color: #2196f3;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__icon {
  position: absolute;
  left: 12px;
  top: 11px;
  width: 18px;
  height: 18px;
  fill: #212121;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__input:focus-within + .form__icon {
  fill: #2196f3;
}

.form__comment {
  width: 100%;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
  padding: 12px 16px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form__comment:focus-within {
  outline: none;
  border-color: #2196f3;
}

.form-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
}

.form-submit__button {
  width: 200px;
  padding: 15px 29px;
  margin-top: 30px;
  background-color: #2196f3;
  color: #ffffff;
  cursor: pointer;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  border: none;
  letter-spacing: 0.06em;
}

.form-agreement {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.16;
  font-size: 12px;
}

.form-agreement--link {
  color: #2196f3;
  margin-left: 5px;
}

@media screen and (min-width: 1199px) {
  .form-agreement {
    line-height: 1.71;
  }
}

.check__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.check__box {
  display: inline-block;
  margin-right: 7px;
  width: 15px;
  height: 15px;
  background-color: #ffffff;
  border: solid 2px #212121;
  border-radius: 2px;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.check__input:checked + .check__box {
  border-color: #2196f3;
  background: url(../images/checkbox_checked.svg);
  background-size: contain;
  background-color: #2196f3;
  background-origin: border-box;
}

.check__input:focus + .check__box {
  outline: none;
  border: solid 1px #2196f3;
}

.portfolio__inner {
  padding: 50px 15px;
}

@media screen and (min-width: 1199px) {
  .portfolio__inner {
    max-width: 1200px;
    padding: 94px 15px;
    margin: 0 auto;
  }
}

.portfolio__filter {
  margin-bottom: 30px;
}

@media screen and (min-width: 767px) {
  .portfolio__filter {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1199px) {
  .portfolio__filter {
    margin-bottom: 50px;
  }
}

.portfolio__gallery {
  gap: 30px;
}

@media screen and (min-width: 1199px) {
  .portfolio__gallery {
    margin: 0 -30px 0 0;
  }
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8px;
}

@media screen and (min-width: 1199px) {
  .filter {
    -ms-flex-wrap: unset;
        flex-wrap: unset;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1199px) {
  .filter__item {
    margin-left: 8px;
  }
  .filter__item:first-child {
    margin-left: 0px;
  }
}

.filter__button {
  cursor: pointer;
  background-color: #f5f4fa;
  color: #212121;
  border-radius: 4px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  -webkit-transition-property: background-color, color, 0px 0px 0px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.12), -webkit-box-shadow 0px 0px 0px rgba(0, 0, 0, 0.1);
  transition-property: background-color, color, 0px 0px 0px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.12), -webkit-box-shadow 0px 0px 0px rgba(0, 0, 0, 0.1);
  transition-property: background-color, color, box-shadow 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.12);
  transition-property: background-color, color, box-shadow 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.08), 0px 0px 0px rgba(0, 0, 0, 0.12), -webkit-box-shadow 0px 0px 0px rgba(0, 0, 0, 0.1);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter__button:hover, .filter__button:focus {
  background-color: #2196f3;
  color: #f5f4fa;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.gallery__card {
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
}

@media screen and (min-width: 767px) {
  .gallery__card {
    -webkit-box-flex: calc(50% - 30px);
        -ms-flex: calc(50% - 30px);
            flex: calc(50% - 30px);
  }
}

@media screen and (min-width: 1199px) {
  .gallery__card {
    -webkit-box-flex: calc(33% - 60px);
        -ms-flex: calc(33% - 60px);
            flex: calc(33% - 60px);
  }
}

.gallery__link {
  display: block;
  text-decoration: none;
  color: #757575;
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px rgba(0, 0, 0, 0.06), 0px 0px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.12), 0px 0px 0px rgba(0, 0, 0, 0.06), 0px 0px 0px rgba(0, 0, 0, 0.16);
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__link:hover {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.gallery__card-thumb {
  overflow: hidden;
  position: relative;
  height: 294px;
}

.gallery__link:hover .gallery__card-thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.gallery__link:focus .gallery__card-thumb::before {
  -webkit-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}

.gallery__card-thumb::before {
  display: inline-block;
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  -webkit-transform: translateY(101%);
          transform: translateY(101%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery__card-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.gallery__card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 294px;
  padding: 0 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, 30%);
          transform: translate(-50%, 30%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #ffffff;
  font-size: 18px;
  line-height: 1.55;
  opacity: 0;
}

@media screen and (min-width: 767px) {
  .gallery__card-text {
    padding: 49px 24px;
  }
}

@media screen and (min-width: 1199px) {
  .gallery__card-text {
    padding: 63px 24px;
  }
}

.gallery__link:hover .gallery__card-text {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.gallery__link:focus .gallery__card-text {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
}

.gallery__card-footer {
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  padding: 20px 24px;
}

.gallery__image {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  height: 294px;
}
/*# sourceMappingURL=main.css.map */