.client {
  flex-basis: calc(100% / 2);
  padding: 60px 0;
  // & {
  //   @media screen and (min-width: $tablet) {
  //     padding: 60px 0;
  //   }
  // }
  & {
    @media screen and (min-width: $desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
}
.client__inner {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.client__title {
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
  margin-bottom: 30px;

  & {
    @media screen and (min-width: $desktop) {
      font-size: 36px;
      line-height: 1.16;
      margin-bottom: 0;
    }
  }
}
.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;

  & {
    @media screen and (min-width: $desktop) {
      margin-top: 50px;
    }
  }
}
.client__member {
  position: relative;
  flex: calc(50% - 30px);
  height: 92px;

  // &:nth-child(even) {
  //   margin-left: auto;
  // }

  & {
    @media screen and (min-width: $tablet) {
      margin: 0;
      flex: 30%;
    }
  }

  & {
    @media screen and (min-width: $desktop) {
      flex: calc(16.6666666667% - 150px);
    }
  }
}
.client__thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  outline: 1px solid $icon-primary-color;
  border-radius: 4px;
  position: absolute;
  height: 100%;
  width: 100%;
  margin-bottom: 0px;
  transition-property: outline-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  & {
    @media screen and (min-width: $desktop) {
      max-width: 170px;
    }
  }

  .client__link:hover & {
    outline-color: $accent-color;
  }
  .client__link:focus & {
    outline-color: $accent-color;
  }
}
.client__icon {
  width: 106px;
  height: 60px;
  color: $accent-color;
  fill: $icon-primary-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .client__link:hover & {
    fill: $accent-color;
  }
  .client__link:focus & {
    fill: $accent-color;
  }
}
