.contact {
  display: none;

  & {
    @media screen and (min-width: $tablet) {
      display: inline-flex;
      flex-wrap: wrap;
      width: min-content;
      margin-left: auto;
    }
  }
  & {
    @media screen and (min-width: $desktop) {
      display: flex;
      flex-wrap: nowrap;
      width: auto;
      margin-left: auto;
    }
  }

  .menu__mobile.is-open & {
    display: flex;
    margin-left: 0px;
    margin-top: 60%; // 302pxmobile
    margin-bottom: 48px;
    flex-direction: column;
  }

  & {
    @media screen and (min-width: $tablet) {
      // стили для планшета
    }
  }
  & {
    @media screen and (min-width: $desktop) {
      display: flex;
      align-items: center;

      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
    }
  }
}

.contact__item {
  margin-left: 0px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  & {
    @media screen and (min-width: $desktop) {
      margin-left: 30px;
    }
  }

  &:last-child {
    @media screen and (max-width: 766px) {
      margin-top: 10px;
      font-size: 24px;
      line-height: 1.16;
      letter-spacing: 0.02em;
    }
  }

  & {
    @media screen and (max-width: 766px) {
      font-size: 32px;
    }
  }

  // margin-left: 30px;
  // &:first-child {
  //   margin-left: 0px; // desktop
  // }
}

.contact__link {
  display: flex;
  align-items: center;
  padding: 32px 0;

  text-decoration: none;
  color: $primary-text-color; // desktop

  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  & {
    @media screen and (min-width: $tablet) {
      padding: 5px;
    }
  }

  & {
    @media screen and (min-width: $desktop) {
      padding: 0;
    }
  }

  &--phone {
    color: $accent-color;
  }

  .menu__mobile.is-open & {
    padding: 16px 0;
  }

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.contact__icon {
  display: none; // потом должна появится иконка
  margin-right: 10px;
  color: $white-color;
  fill: $primary-text-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  .contact__link:hover & {
    fill: $accent-color;
  }
  .contact__link:focus & {
    fill: $accent-color;
  }
  & {
    @media screen and (min-width: $tablet) {
      display: inline-flex;
    }
  }

  &--mail {
    width: 16px;
    height: 12px;
  }
  &--phone {
    width: 10px;
    height: 16px;
  }
}
