.features {
  padding: 60px 0;
  & {
    @media screen and (min-width: $tablet) {
      padding: 60px 0;
    }

    @media screen and (min-width: $desktop) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
  }
}

.features__inner {
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
}

.features__heading {
  visibility: hidden;
}

.features__list {
  display: flex;
  flex-wrap: wrap;
  @media screen and (min-width: $mobile) {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    gap: 30px;
  }
}

.features__card {
  width: 450px;
  margin-bottom: 30px;

  & {
    @media screen and (min-width: $mobile) {
      flex: calc(50% - 30px);
      margin-bottom: 0;
    }
    @media screen and (min-width: $desktop) {
      flex: calc(25% - 90px);

      // &:last-child {
      //   margin-right: 0px;
      // }
    }
  }

  &:last-child {
    margin-bottom: 0px;
  }
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: $secondary-text-color;
  margin-bottom: 10px;
  text-align: center;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.card__thumb {
  display: flex;
  align-items: center;
  justify-content: center;

  background: $secondary-background-color;

  height: 120px;
  margin-bottom: 30px;
}
.card__icon {
  width: 70px;
  height: 70px;
  color: $white-color;
  fill: $icon-primary-color;
}
