.filter {
  display: flex;
  justify-content: center;
}

.filter__item {
  margin-left: 8px;
  &:first-child {
    margin-left: 0px;
  }
}

.filter__button {
  cursor: pointer;
  background-color: $secondary-background-color;
  color: $secondary-text-color;
  border-radius: 4px;
  text-align: center;
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  border: none;
  padding: 6px 22px;
  transition-property: background-color, color,
    box-shadow 0px 0px 0px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.08),
    0px 0px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $secondary-background-color;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);
  }
}
