.header {
  border-bottom: 1px solid #ececec;
  background: $white-color;
  & {
    @media screen and (min-width: 768px) {
      height: 80px;
    }
  }
  // & {
  //   @media screen and (max-width: 480px) {
  //     position: relative;
  //   }
  // }
}

.header__inner {
  // display: flex;
  padding: 0 15px;
  margin: 0 auto;
  max-width: 1200px;
  & {
    @media screen and (min-width: $tablet) {
      padding: 0 15px;
      display: flex;
    }
  }
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & {
    @media screen and (min-width: $tablet) {
      justify-content: unset;
    }
  }
}

.header__menu {
  display: none;

  .menu__mobile.is-open & {
    // display: flex;
    // font-weight: 500;
    // font-size: 40px;
    // line-height: 1.17;
    // letter-spacing: 0.02em;
    // text-align: center;
  }

  & {
    @media screen and (min-width: $tablet) {
      margin-left: 88px;
      display: flex;
    }
  }

  & {
    @media screen and (min-width: $desktop) {
      margin-left: 93px;
      display: flex;
    }
  }
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: $accent-color;

  text-decoration: none;
  &--black {
    color: $secondary-text-color;
  }
}

.header__contact {
  margin-left: 305px;

  & {
    @media screen and (min-width: $tablet) {
      align-content: center;
    }
  }
}
