.header {
  position: relative;
  border-bottom: 1px solid #ececec;
  background: $white-color;
  // & {
  //   @media screen and (max-width: 480px) {
  //     position: relative;
  //   }
  // }
}

.header__inner {
  display: flex;
  padding: 0 15px;
  margin: 0 auto;
  & {
    @media screen and (max-width: $tablet) {
      padding: 10px 15px;
      display: block;
    }
  }
}

.header__nav {
  & {
    @media screen and (max-width: $tablet) {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

.header__menu {
  display: none;
  & {
    @media screen and (min-width: $tablet) {
      margin-left: 93px;
      display: inline-flex;
    }
  }
}

.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: $accent-color;

  text-decoration: none;
  &--black {
    color: $secondary-text-color;
  }
}

.header__contact {
  margin-left: 305px;
  // & {
  //   @media screen and (min-width: $mobile) {
  //     display: none;
  //   }
  // }
}
