.mobile-menu__nav {
  flex-grow: 1;
}

.mobile-menu__nav-list {
}

.mobile-menu__contacts-list {
}

.mobile-menu__nav-link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  margin-bottom: 32px;
}

.mobile-menu__socials {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.mobile-menu__social-item {
  border-right: 1px solid rgba(33, 33, 33, 0.2);

  &:first-child {
    padding-left: 0;
    margin-left: -10px;
  }
  &:last-child {
    border-right: none;
  }
}

.mobile-menu__social-link {
  padding: 0 10px;
  font-size: 18px;
  line-height: 1.22;

  letter-spacing: 0.02em;

  text-decoration: none;

  color: #2196f3;
}

.menu__icon {
  .menu__button &--close {
    display: none;
  }
  .menu__button.is-open &--close {
    display: block;
  }
  .menu__button.is-open &--open {
    display: none;
  }
}
