.portfolio {
}
.portfolio__inner {
  width: 1200px;
  padding: 94px 15px;
  margin: 0 auto;
}
.portfolio__heading {
}
.portfolio__filter {
  margin-bottom: 50px;
}

.portfolio__gallery {
  margin: -30px -30px 0 0;
}
