.team {
  background-color: $secondary-background-color;
  padding-top: 94px;
  padding-bottom: 94px;
}
.team__inner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.team__heading {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.team__list {
  margin-top: 50px;
  display: flex;
}

.team__card {
  width: 270px;
  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}

.card-footer {
  padding: 30px 0px;
}

.team__member {
  top: 1925px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: $secondary-text-color;
}

.card-footer__text {
  margin-top: 10px;
  line-height: 1.18;
  text-align: center;
}
.card-footer__socials {
  margin-top: 16px;
}

.social__list {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.social__item {
  margin-right: 10px;
}

.social__link {
  display: flex;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    background: $accent-color;
  }
  &:focus {
    background: $accent-color;
  }
}
.social__icon {
  padding: 12px;
  width: 44px;
  height: 44px;
  color: $white-color;
  fill: $icon-primary-color;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  &--white {
    fill: $white-color;
  }
  .social__link:hover & {
    fill: $white-color;
  }

  .social__link:focus & {
    fill: $white-color;
  }
}
