.work {
  padding-bottom: 94px;
}
.work__inner {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}
.work__heading {
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  color: $secondary-text-color;
}
.work__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.work__item {
  display: flex;
  flex-wrap: wrap;
  width: 370px;
  margin-right: 30px;
  &:last-child {
    margin-right: 0px;
  }
}
.work__thumb {
  position: relative;
  &::before {
    display: inline-block;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
  }
}
.work__title {
  position: absolute;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding: 27px 82px;
  bottom: 0;
  left: 0;
  width: 100%;
  color: $white-color;
}
