*,
*::before,
*::after {
  box-sizing: border-box;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-block-start: 0;
  margin-block-end: 0;
}

body {
  background-color: $main-background-color;
  color: $primary-text-color;

  font-family: Roboto, sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

ul {
  padding-inline-start: 0px;
  margin-block-start: 1em;
  margin-block-end: 1em;
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  line-height: 1.875;
  font-size: 16px;
  letter-spacing: 0.03em;
}

textarea {
  resize: none;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.image--display-block {
  display: block;
}
