$primary-text-color: #757575;
$secondary-text-color: #212121;
$white-color: #ffffff;
$accent-color: #2196f3;
$main-background-color: #ffffff;
$secondary-background-color: #f5f4fa;
$footer-color: #2f303a;
$icon-primary-color: #afb1b8;
$overlay-background: rgba(0, 0, 0, 0.2);
